<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>上传你的简历</title>

    <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="static/css/freelancer.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="static/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css"> -->
    <!-- <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css"> -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style type="text/css">
        
        .fileUpload {
            position: relative;
            overflow: hidden;        }
        .fileUpload input.upload {
            position: absolute;
            top: 0;
            right: 0;
            margin: 0;
            padding: 0;
            font-size: 20px;
            cursor: pointer;
            opacity: 0;
            filter: alpha(opacity=0);
        }
    </style>
</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#page-top">上传你的简历</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>

                    <li class="page-scroll">
                        <a href="#about">关于我们</a>
                    </li>
                   <!--  <li class="page-scroll">
                        <a href="mailto:wi.inputmethod@gmail.com?subject=联系wi输入法团队">联系我们</a>
                    </li> -->
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="static/img/profile.png" alt="">
                    <div class="intro-text">
                        <span class="name">{{ success|default:"哈工大阿里巴巴2015春季内推" }}</span>
                        <hr class="star-light">
                        <div class="col-md-6 col-md-offset-3">


                            <p>哈工大阿里巴巴技术联盟2015年2月27日：</p>

                            <p>
                                阿里巴巴集团校园招聘目前已开启内部推荐，同学们可以寻求内部推荐的机会，通过简历筛选的同学被内推后，部门一般在2-3周内会安排面试。哈工大阿里巴巴技术联盟现面向全校同学收集简历，优秀的同学将获得推荐名额！</p>

                            <h3>简历接收截止时间</h3>

                            <p>2014年3月14日</p>

                            <h3>简历投递方式</h3>

                            <p>投递简历至http://54.69.160.111:9001/</p>

                            <p>或
                                编辑邮件：
                                姓名+专业+年级+阿里校招简历投递 电子版简历以附件发送
                                （如：张三+软件工程+研二+阿里校招简历推荐）
                                到：
                                zhao-guo-quan@126.com
                                内推只能找一位推荐人（俱乐部或者师兄师姐）！
                                关于2016届校园招聘的其他流程安排，将在后续公布，请同学们保持对官网信息的关注。</p>

                            <h3>FAQ</h3>

                            <h5>本次实习生招聘是面向几年级的同学？</h5>

                            <p>本次内部推荐是针对2016年及以后毕业的学生。</p>

                            <h5>内推的招聘流程具体安排如何？</h5>

                            <p>
                                联盟内推时间是2015年2月12日-3月15日，师兄内推时间是2015年2月12日-3月22日，被内推后，部门一般在2-3周内会安排面试，若未能被面试，依然会被邀请参加正常校招笔试。</p>

                            <h5>内部推荐与网申对候选人而言有什么区别？</h5>

                            <p>
                                网申需参加正常校招的笔试；内部推荐有机会免除笔试优先进入面试环节（远程/现场），面试通过可提前拿到实习offer。但内部推荐的简历如未被部门选中面试或面试不通过，依然会被邀请参加正常校招的笔试。</p>

                            <h5>联盟内部推荐与师兄推荐的有什么区别？</h5>

                            <p><strong>由于联盟会根据集团的需求筛选简历并直接推荐至校园招聘团队，这些候选人会优先安排面试。</strong></p>

                            <h5>如果同学不能来实习，那还能否参加实习生招聘吗？</h5>

                            <p>可以</p>

                            <h5>如果同学拿到实习Offer，什么时候可来实习？实习期多久？</h5>

                            <p>通过面试的同学可拿到实习Offer，从拿到实习Offer之日起都可来公司实习；需要在8月30日之前连续实习满45个工作日或累计满60个工作日。</p>

                            <h5>实习生有转正机会吗？</h5>

                            <p>有的。满实习期的同学预计会在8月中下旬左右安排内部转正面试，面试通过后可提前拿到正式Offer。</p>

                            <h5>如果不能来实习，拿到实习Offer有什么好处？</h5>

                            <p>如果是2016年毕业的同学，可以在2016届秋招时直接进入终试环节。</p>

                            <h5>内推面试没通过还有其他机会吗？内推没有参加面试还有其他机会吗？</h5>

                            <p>有的。我们将安排面试未通过的同学进行统一笔试。</p>

                            <h5>请问在什么地方可以看到内推的部门呢？</h5>

                            <p>被推荐人是看不见推荐部门等信息的，若想知道被推荐到了什么部门，可以联系联盟的同学。</p>

                            <h3>关于哈工大阿里巴巴技术联盟（简称阿里俱乐部）：</h3>

                            <p>
                                哈工大阿里俱乐部成立于2010年9月20日，由阿里巴巴集团主导，软件学院建设，学生自主运营的校级技术型俱乐部。目前活跃成员70人左右，俱乐部现任负责人为软件学院12级学生赵国铨。平时活动丰富多彩：每周一次的技术例会，阿里公司的全国技术沙龙的校园落地，“码小农”（阿里内部技术论坛每周精华分享），“实习达人”（工大在阿里实习的师兄师姐关于笔试面试与实习生活的经验分享会），春秋两季校招推荐，团建活动等丰富多彩的活动。收获技术成长的同时，也会收获活动组织经验和更重要的：伙伴！
                                在阿里俱乐部，享技术，聚朋友！这里，已经有编程大神，有学霸，有理论爱好者，也有腹黑大叔。更有，在技术兴趣上志同道合的一堆朋友！期待你的加入~
                                加入途径：
                                编辑邮件主题：
                                姓名+专业+年级+加入阿里俱乐部
                                正文可以简介自己
                                到：
                                zhao-guo-quan@126.com</p>

                        </div>

                    </div>
                 


                   <form enctype="multipart/form-data" method="post" action="" class="form-horizontal "style="text-align: center">{% csrf_token %}
                      <div class="form-group">
                        <div class="col-lg-6 col-lg-offset-3">
                            {{ form.nickname.errors }}
                          <input type="text" class="form-control" id="nickname" name="nickname"placeholder="姓名">
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-lg-6 col-lg-offset-3">
                            {{form.email.errors}}
                          <input type="email" class="form-control" id="email" name="email" placeholder="Email">
                        </div>
                      </div>
                      
                      

                      <div class="form-group">
                        <div class="col-lg-6 col-lg-offset-3">
                            {{form.reason.errors}}
                            <textarea class="form-control" rows="3" placeholder="自荐理由(我们为什么要选择你?请给出你的理由)" name="reason" id="reason"></textarea>
                        </div>
                      </div>

                      <div class="form-group">

                        <div class="row" >
                            <div class="col-md-4 col-md-offset-4">
                                <div class="fileUpload btn btn-warning">
                                    <span class="glyphicon glyphicon-upload" aria-hidden="true">选择简历</span>
                                    {{form.file.errors}}
                                    <input type="file" class="upload" name="file" id="file"/>
                                </div>
                            </div>
                            
                        </div>
                        <div class="row">
                            <div  class="col-md-4 col-md-offset-4" style="margin-top: 20px">
                              <input type="submit" class="btn btn-info  btn-block" value="上传我的简历">
                            </div>
                        </div>
                      </div>
                    </form>
                   

                </div>
            </div>
        </div>
    </header>



    <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row text-center">

                    <p>哈工大阿里巴巴俱乐部</p>
                    <p>项目地址:<a href="https://github.com/HIT-Alibaba" style="color:white;text">https://github.com/HIT-Alibaba</a></p>
                    <form enctype="multipart/form-data" method="post" action="/myresume/" class="form-inline"style="text-align: center">{% csrf_token %}

                      <div class="form-group">
                            {{form.email.errors}}
                          <input type="email" class="form-control" id="email" name="email" placeholder="输入你的email查询上传信息">
                          <input type="submit" class="btn btn-info" value="查询">
                      </div>
                    </form>
            </div>
        </div>
    </section>
        <div class="text-center footer-above" style="background: #18bc9c;color:white" >
            <p>built by <a href="http://blog.zhaoguoquan.com" style="color:white">ZGQ</a></p>
        </div>
    


   
    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll visible-xs visble-sm">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>



    <!-- jQuery Version 1.11.0 -->
    <script src="static/js/jquery-1.11.0.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="static/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="static/js/classie.js"></script>
    <script src="static/js/cbpAnimatedHeader.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="static/js/jqBootstrapValidation.js"></script>
    <script src="static/js/contact_me.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="static/js/freelancer.js"></script>
    

</body>

</html>
